.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  padding: $s-size;
  font-size: $font-size-large;
  font-weight: 300;
}

.select {
  @extend .text-input;
}

.CKEditor {
  @extend .text-input;
  height: 30rem;
  margin-bottom: $m-size;
}

.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
  border-radius: var(--ck-border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 30rem;
  margin-bottom: $m-size;
}